.wrapper {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: rgb(239, 247, 238);
}

$item-width: 350px;


.birth,
.retire,
.death,
.footer {
  width: $item-width;
}

.birth .picker,
.retire .tip,
.death .age {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 0;

  .right {
    padding-left: 20px;
  }
}

.retire .progress {
  display: flex;

  .item {
    flex: 1;
  }
}

.tip-text {
  color: rgb(163, 163, 163);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
